@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary-color: #FDCF00;
  --secondary-color: #ffa800;
  --dark-color: #111;
  --charizard-color: #FFA800;
  --container-size: 1024px;
  --card-size: calc(var(--container-size) / 4 - 32px);
  --card-title-background: #232323;
  --light-background: #242424
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--dark-color);
  color: white;
  padding-top: 50px;
}

h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 24px;
}

.button__link {
  padding: 16px 24px;
  background-color: var(--primary-color);
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-color);
  transition: .3s ease-in-out;
}

.button__link:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

.menu {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  padding-bottom: 35px;
  margin-bottom: 35px;
  box-sizing: border-box;
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}

.menu__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu__item--active {
  padding: 16px 24px;
  background-color: var(--primary-color);
  border-radius: 100px;
}

.menu__item--active .menu__link {
  color: var(--dark-color);
}

.footer {
  position: relative;
  margin-top: 200px;
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.footer__image {
  width: 350px;
  position: absolute;
  top: -100px;
}

.footer__links {
  display: inline-block;
}

.footer__link {
  color: white;
  margin: 0 24px;
  text-decoration: none;
}

.footer__button {
  margin: 36px 0;
}